<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Banishment.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        </assemblyBinding>
    </runtime>
    <userSettings>
        <Banishment.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value/>
            </setting>
            <setting name="Pwd" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoShutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoVoice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Icon360" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateSource" serializeAs="String">
                <value>0</value>
            </setting>
        </Banishment.Properties.Settings>
    </userSettings>
</configuration>